<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!--
******************************************************************************
* Log4j Configuration
*
* Logging levels (higest to lowest):
*   off, fatal, error, warn, info, debug, all
* A logging request is enabled if its level is
* higher than or equal to the level of its logger.
******************************************************************************
-->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <!-- ******************************************************************* -->
  <!-- ConsoleAppender                                                     -->
  <!-- ******************************************************************* -->
  <appender name="A2" class="com.colorlog.log4j.AnsiColorConsoleAppender" >
    
    <param name="WarnColour" value="\\u001b[0;33m" />
    <param name="InfoColour" value="\\u001b[22;32m" />
    
    <layout class="org.apache.log4j.EnhancedPatternLayout">
      <param name="ConversionPattern" value="Ansi > %-5p: %c{2} [%t] - %m%n"/>
    </layout>
    
  </appender>

  <appender name="A3" class="com.colorlog.log4j.JAnsiColorConsoleAppender" >
    
    <param name="WarnColour" value="\\u001b[0;33m" />
    <param name="InfoColour" value="\\u001b[22;32m" />
    <!-- 
    <param name="PassThrough" value="true" />
    <param name="Strip" value="true" />
    -->
    
    <layout class="org.apache.log4j.EnhancedPatternLayout">
      <param name="ConversionPattern" value="Jansi> %-5p: %c{2} [%t] - %m%n"/>
    </layout>
    
  </appender>

  <!-- ******************************************************************* -->
  <!-- Root Logger                                                         -->
  <!-- ******************************************************************* -->
  <root>
    <level value="trace"/>
    <appender-ref ref="A2"/>
    <appender-ref ref="A3"/>
  </root>

</log4j:configuration>