<configuration>

	<appender name="A" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="com.mihnita.colorlog.logback.ColorPatternLayoutEncoder">
			<pattern>%highlight(CustomColors> %-5level: %logger{15} - %msg) %n</pattern>
			<!--
			<errorColor>1;31</errorColor>
			<warningColor>1;33</warningColor>
			<infoColor>32</infoColor>
			<debugColor>36</debugColor>
			<traceColor>1;34</traceColor>
			-->
		</encoder>
		<withJansi>false</withJansi>
	</appender>

	<root level="TRACE">
		<appender-ref ref="A" />
	</root>

</configuration>
