<configuration>

	<appender name="A" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="com.mihnita.colorlog.logback.ColorPatternLayoutEncoder">
			<pattern>CustomColorsReg> %highlight(%-5level:) %logger{15} - %msg%n</pattern>
			<!--
			<errorColor>91</errorColor>
			<warningColor>93</warningColor>
			<infoColor>32</infoColor>
			<debugColor>36</debugColor>
			<traceColor>94</traceColor>
			-->
		</encoder>
		<withJansi>false</withJansi>
	</appender>

	<root level="TRACE">
		<appender-ref ref="A" />
	</root>

</configuration>
